body {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 300;
}
#Container {
    width: 300px;
    height: 400px;
    background-color: black;
    border: 12px solid pink;
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.screen-container {
    background-color: bisque;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 30px;
    width: 100%;
    height: 20%;
}
.screen {
    padding: 14px 20px;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 78%;
}
.button-container button {
    background-color: aquamarine;
    font-size: large;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 5px;
    width: 24%;
    height: 20%;
}
button:hover {
    background-color: rgb(89, 184, 152);
}